 ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,body,html,div.paragraph,blockquote,fieldset,input { margin: 0; padding: 0; }
 ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,body,html,p,blockquote,fieldset,input { margin: 0; padding: 0; }
 td{
  padding-left:10px; 
  padding-right:10px;
  
 }
 a img{ 
 border: 0px; 
 }
 a { 
 color: #7b7b7b; 
 text-decoration: none; 
 }
 a:hover { 
 color: #4c4c4c;
 text-decoration:none;
 }
 body { 
 		font-family: 'Proxima Nova', 'Myriad Pro', Arial, Helvetica, sans-serif;
  		font-size:14px; color:#666666;
   		margin:0;
    	

   		}
 h2 { 
 	font-size: 1.7em;
 	margin: 0; padding: .3em 0; 
 	line-height: 1.5; font-family: 'Proxima Nova', 'Myriad Pro', Arial, Helvetica, sans-serif;
 	font-weight:normal; text-transform:capitalize;
 	 }
 #content h2{
  color: #4a4a4a; 
  }
 div.paragraph{
  font-size:1em;
   line-height:1.5; 
   margin: 0; 
   padding: .5em 0; 
   }
 p{ font-size:1em; 
 line-height:1.5; 
 margin: 0; 
 padding: .5em 0; 
 }
 #content div.paragraph { 
 color: #666666; 
 }
 #content p { 
 color: #666666; 
 }
 div.paragraph a { 
 color:#000; 
 }
 p a { 
 color:#000; 
 }
 div.paragraph a:hover {
  color:#888;
   }
 p a:hover { 
 color:#888;
  }
 #content abbr { 
 border-bottom: 1px dotted #8f8f8f;
}

 .container{
  width:960px; margin:0 auto;
   }
 blockquote {
  font-style:italic;
   border-left:4px solid #7b7b7b;
    margin:10px 0 10px 0;
     padding-left:20px;
      line-height:1.5;
       color:#999; 
       }
 #icontent{ border:none !important; }
 #header-wrap, #topnav-wrap, #banner-wrap, #main-wrap, #footer-wrap{ width:100%; min-width:960px; }
 #header-wrap{ background-color:#30D5C8; }
 #header {  background-color:#30D5C8; border-collapse: collapse; margin-top: border-spacing: 0; width:100%; height:120px; margin:0; }
 #header table {  backgroud-color: border-collapse: collapse; border-spacing: 0; }
 #header td { vertical-align: middle; text-align: left; }
#wsite-title{ color:#fff;}
 #logo { padding:25px 0; }
 #logo, #logo a{ font-size: 30px; color: #252525; font-family: 'Proxima Nova', 'Myriad Pro', Arial, Helvetica, sans-serif; line-height:1.1; font-weight:bold; }
 #logo a:hover{ color:#252525; text-decoration:none; }
 #header-right { padding: 5px 0 0 10px; }
 #header-right table { width: 1px; float:right; }
 #header-right td { padding: 0; text-align:right; }
 #header-right a { color: #7b7b7b; }
 #header-right a:hover { color: #4c4c4c; }
 #header-wrap .social{ clear:right; float:right; margin:7px 0; }
 .search{ float:right; width:167px; }
 .wsite-search{ margin: 0; }
 .wsite-search-input{ width:126px; height:17px; border:none; padding:7px 10px 7px !important; font-family: 'Proxima Nova', 'Myriad Pro', Arial, Helvetica, sans-serif; color:#a9a9a9; font-size:14px; background:url(theme/input-bg.png?1432897022) no-repeat; }
 .wsite-search-button{ position: relative; width:21px; height:31px; color:#010101; font-size:12px; border: none; margin: 0px; padding: 0px; background:url(theme/submit-bg.png?1432897022) no-repeat; }
 
 #topnav-wrap table{ border-collapse: collapse; border-spacing: 0; width:100%; }
 #topnav-wrap{ border-top:1px solid #dedede; box-sizing:border-box; background:#fff url(theme/border-bottom.png?1432897022) left bottom repeat-x; }
 #topnav-wrap td{ padding:0; }
 #topnav { clear: both; padding:0; margin:0; min-height:47px; float:left; }
 #topnav ul { display: inline; list-style: none; float: left; min-height:47px; }
 #topnav ul li{ list-style: none; float: left; padding:0 15px 0 0; list-style: none; }
 #topnav ul li a{ float:left; color: #5e5e5e; font-size:14px; text-decoration: none; font-family: 'Proxima Nova', 'Myriad Pro', Arial, Helvetica, sans-serif; padding:15px 10px 11px; border-bottom: 2px solid transparent; box-sizing:border-box; outline:0; list-style-type:none; margin-bottom:3px; }
 #icontent #topnav ul li a{ margin-bottom:0px; }
 #topnav li#active a, #topnav a:hover{ color: #2e2e2e; border-bottom:2px solid #4c4c4c; }
 
 
 #wsite-menus .wsite-menu { background:#fff; position:relative; border:1px solid #ccc; box-shadow:0 1px 3px rgba(0,0,0,0.1); }
 #wsite-menus .wsite-menu li{ width:180px; float:none; margin:0; padding:0; background:#fff; }
 #wsite-menus .wsite-menu li a{ float:none; text-transform:capitalize; font-weight:normal; font-family: 'Proxima Nova', 'Myriad Pro', Arial, Helvetica, sans-serif; padding:13px 15px 12px; font-size:14px; width:150px; color:#5e5e5e; border:0; border-bottom:1px solid #ddd; background:#fff; }
 #wsite-menus .wsite-menu li:last-child a{ border-bottom:none; }
 #wsite-menus .wsite-menu li a:hover{ color:#2e2e2e; background:#eee; }
 #wsite-menus span.wsite-menu-title{  padding:0; }
 #wsite-menus .wsite-menu-arrow{ display:none !important; }
 
 #main-wrap{ background:#fff; }
 #main-wrap table{ margin-top:10px; border-collapse: collapse; border-spacing: 0; width:100%;  }
 
 #subtitle{ font-size:20px; text-align:center; color:#6b6b6b; line-height:32px; padding:0 0 28px; font-family: 'Proxima Nova', 'Myriad Pro', Arial, Helvetica, sans-serif; }
 #content { min-height: 400px; padding:50px 0; }
 #icontent #content{ padding-right:2px; }
 
 
 
 
 #footer-wrap{ background:#30D5C8; 
 			 padding:40px 0 50px; 
 			 }
 #footer{ padding:0; 
 		font-size:13px; 
 		color:#9b9a9a; 
 		font-family: 'Proxima Nova', 'Myriad Pro', Arial, Helvetica, sans-serif; 
 		text-align:right; 
 		position:relative; }
 #footer .wsite-form-container {margin-top:0 !important;}
 #footer div.paragraph{ color: #9b9a9a; }
 #footer p{ color: #9b9a9a; }
 #footer a{ color: #bbb; }
 #footer blockquote { border-left:4px solid #555; color:#777; }
 #footer a:hover{ color: #ffffff; text-decoration:none; }
 #footer h2{ font-size:14px; border-bottom:1px solid #434343; margin: 0; padding: .6em 0; line-height: 1; font-weight:bold; color:#ffffff; text-transform:uppercase; }
 #footer span{ vertical-align:middle; }
 #footer .wsite-multicol{ text-align:left !important; }
 #footer .wsite-form-field{ width:296px !important; }
 #footer .wsite-form-input-container .wsite-form-input{ width:286px !important; }
 #footer .wsite-form-input-container.wsite-form-left .wsite-form-input{ width:113px !important; }
 #footer .wsite-form-input-container.wsite-form-right .wsite-form-input{ width:152px !important; }
 #footer .wsite-form-field textarea{ width:288px !important; overflow:auto; }
 
 
 
 
 
 .wsite-form-label { display: inline-block; color: #666666; font-family: 'Proxima Nova', 'Myriad Pro', Arial, Helvetica, sans-serif; font-size: 1em; padding: 12px 0px 5px 0px; }
 .form-radio-container { color: #666666; font-size: 1em; font-family: 'Proxima Nova', 'Myriad Pro', Arial, Helvetica, sans-serif; }
 .wsite-form-input, .wsite-search-element-input { font-family: 'Proxima Nova', 'Myriad Pro', Arial, Helvetica, sans-serif; font-size:1em; color: #666666; background:#fff url(theme/field.png?1432897022) repeat-x; border: 1px solid #d7d7d7; padding:8px 4px 5px !important; line-height:1; }
 .form-select { color: #666666; border: 1px solid #d7d7d7; font-size:1em; background:#fff url(theme/field.png?1432897022) repeat-x; font-family: 'Proxima Nova', 'Myriad Pro', Arial, Helvetica, sans-serif; padding:3px 4px; height:27px; line-height:27px; background:url#fff (field.png); }
 .button { 
	color: #666666;
	font-family: Helvetica, Arial, sans-serif;
	height: 31px; display: inline-block;
	font-weight:normal;
	font-size:15px; 
	text-decoration: none;
	border:none;
	padding-left:10px;
	padding-right:10px;   
	background-color:#fff; 
   }
 .button:hover {color:#fff; background-color:#30D5C8;  }
 .button:active { background:08E8DE; }
 .button-inner { height: 31px; line-height: 31px; display: block; font-weight: bold; border: none; text-decoration: none; padding: 0; background:#e5e5e6; }
 .button:hover .button-inner { background:none; }
 .button:active .button-inner { background:none; }
 .button-large { height: 35px; background:#e5e5e5; padding: 0 45px; font-size:15px !important; }
 .button-large:hover { background:#ddd; }
 .button-large:active { background:#ccc; }
 .button-large .button-inner { height: 35px; line-height: 35px; padding: 0; background:none; }
 .button-large:hover .button-inner { background:none; }
 .button-large:active .button-inner { background:none; }
 .button-large.button-highlight { background: #4c4c4c; }
 .button-large.button-highlight .button-inner { background:none; }
 .button-highlight { background: #4c4c4c; color:#fff !important; }
 .button-highlight:hover{ background: #3c3c3c; }
 .button-highlight .button-inner { background:none; }

div.paragraph ul, div.paragraph ol { padding-left: 2.3em !important; margin: 5px 0 !important; overflow:hidden; }
div.paragraph li { padding-left: 5px !important; margin: 3px 0 0 !important; }
div.paragraph ul, div.paragraph ul li { list-style: disc outside !important; }
div.paragraph ol, div.paragraph ol li { list-style: decimal outside !important; }
